@font-face {
  font-family: 'segment7standard';
  src: url('segment7standard-webfont.woff2') format('woff2'),
    url('segment7standard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:
    linear-gradient(217deg, rgba(221, 255, 247, 0.7), rgba(255, 0, 0, 0) 70%),
    linear-gradient(127deg, rgba(255, 166, 96, 0.7), rgba(255, 0, 0, 0) 70%),
    linear-gradient(336deg, rgba(147, 255, 216, 0.7), rgba(255, 0, 0, 0) 70%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 125px repeat(5, 80px);
  column-gap: 4px;
  row-gap: 4px;
}

.screen {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid rgba(189, 189, 189, 0.3);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.input {
  border: 1px solid rgba(189, 189, 189, 0.3);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.input:hover {
  border: 2px solid rgba(189, 189, 189, 0.3);
  background: rgba(255, 255, 255, 0.7);
}

.input:focus {
  outline: unset;
}

.superscript {
  font-size: 13px;
}

.previous-calculations,
.current-calculation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.previous-calculations {
  height: 50px;
  padding: 10px;
}

.current-calculation {
  height: 75px;
  font-size: 30px;
  padding: 10px;
}

.error {
  font-family: 'segment7standard';
  font-size: 50px;

}